table{
    padding-top: 20; 
    width: 100%;
    position:absolute;
    left: 0;
}
table {
    width: 90 vw;
}
table,th,td
{
  border:2px solid red;
}
table
{
  border-collapse:collapse;
  width:20%;
}
td
{
  height:40px;
}
tr
{
  background-color:rgb(1, 32, 80);
  color:white;
}
tr:nth-child(odd){
  background-color: #4C8BF5; 
  color: #fff;
}
th
{
  background-color:#4C8BF5;;
  color:black;
}

