<!doctype html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" media="screen"/>
  </head>
  <body>
      <h1>Phase 1 Project Details</h1>
      <h2>For my project, I scraped data pertaining to English Language Leaners in public schools across the United States. The data highlights the increasing number of English Language Learners in the US public school system over the past two decades.</h2>
      <a href="{{ url_for('get_data')}}">view api here</a>
  </body>
</html>