<!doctype html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-earthly.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" media="screen"/>   
  </head>
  <body>
      <h1>Phase 1 Project Details</h1>
      <p>For my project, I scraped data pertaining to English Language Leaners in public schools across the United States. The data highlights the increasing number of English Language Learners in the US public school system over the past two decades.</p>
      <a href="{{ url_for('get_data')}}">view api here</a>
      <div> 
      <table>
            <tr>
                  <th>Location</th> 
                  <th>Number 2000</th>
                  <td>Number 2005</th>
                  <th>Number 2014</th>
                  <th>Number 2015</th>
                  <th>Number 2016</th>
                  <th>Number 2010</th>
                  <th>Number 2017</th>
                  <th>Percent 2000</th>
                  <th>Percent 2005</th>
                  <th>Percent 2010</th>
                  <th>Percent 2014</th>
                  <th>Percent 2015</th>
                  <th>Percent 2016</th>
                  <th>Percent 2017</th>
           </tr>
            {% for row in data %}
             <tr>
                  <td>{{row.location}}</td>
                  <td>{{row.number_2000}}</td>
                  <td>{{row.number_2005}}</td>
                  <td>{{row.number_2010}}</td>
                  <td>{{row.number_2014}}</td>
                  <td>{{row.number_2015}}</td>
                  <td>{{row.number_2016}}</td>
                  <td>{{row.number_2017}}</td>
                  <td>{{row.percent_2000}}</td>
                  <td>{{row.percent_2005}}</td>
                  <td>{{row.percent_2010}}</td>
                  <td>{{row.percent_2014}}</td>
                  <td>{{row.percent_2015}}</td>
                  <td>{{row.percent_2016}}</td>
                  <td>{{row.percent_2017}}</td>
             </tr>
            {% endfor %}
            <p>Source: National Center for Education Statistics: https://nces.ed.gov/</p>
            </table>
          </div>
            <br><br>
          </body>

</html>


